@charset "UTF-8";


body {
  font-family: 'Arial', sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.sidebar {
    background-color: #212529;
    color: white;
    height: auto;
    padding: 20px;
<<<<<<< HEAD
    max-width: 200px !important;
=======
    max-width: 178px !important;
>>>>>>> ab648a7fb326d4ac050e1892ccc1f66e1667bb29
}

.sidebar h2 {
  margin-bottom: 20px;
<<<<<<< HEAD
  font-size: 24px;
=======
  font-size: 22px;
>>>>>>> ab648a7fb326d4ac050e1892ccc1f66e1667bb29
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
}

.sidebar ul li a:hover {
  background-color: #343a40;
}

<<<<<<< HEAD
.cardDash {
=======
.card {
>>>>>>> ab648a7fb326d4ac050e1892ccc1f66e1667bb29
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 83px;
  text-align: center;
  padding: 20px;
 
}
<<<<<<< HEAD
.cardDash h3 {
    font-size:  1em;
}
.row h2 {
  padding: 20px 0px 0px 0px;
  width: auto;
  color: rgb(35, 19, 175);
}
.row svg {
    padding: 20px 0px 0px 0px !important;
    width: 30px !important;
    height: 47px;
    padding: 0px;
    padding-right: 2px;
    color: rgb(35, 19, 175);
}
#nav_venda {
  height: 100vh !important;
}
#vendas {
  width: 600px;
}
body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #212529, #343a40);
  color: white;
  padding-top: 20px;
}

.sidebar .nav-link {
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
}

/* Card */
.card {
  background-color: #ffffffdd;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  height: 390px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
=======
.card h3 {
    font-size:  1em;
>>>>>>> ab648a7fb326d4ac050e1892ccc1f66e1667bb29
}