@charset "UTF-8";


body {
  font-family: 'Arial', sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.sidebar {
    background-color: #212529;
    color: white;
    height: auto;
    padding: 20px;
    max-width: 178px !important;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
}

.sidebar ul li a:hover {
  background-color: #343a40;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 83px;
  text-align: center;
  padding: 20px;
 
}
.card h3 {
    font-size:  1em;
}