@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap');

:root{
  --cor1: #43B05C;
}

body {
  font-family: 'Arial', sans-serif;
  background: #b6b8b9 !important;
  margin: 0;
}
#main {
  margin-left: 200px !important;
  width: 1151px;
}
#main h3{
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
    background-color: #212529;
    color: white;
    height: auto;
    padding: 20px;
    max-width: 200px !important;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: 'Sansation';
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
  border-radius: 8px;
  font-family: 'Sansation' !important;
  font-size: 15px;
}
.sidebar ul li a:hover {
  background-color: #343a40;
}
.cardDash {
  background: rgb(64, 204, 118);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 83px;
  text-align: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Sansation';
}
.cardDash h3 {
    font-size:  1em;
}
.row h2 {
  padding: 20px 0px 0px 0px;
  width: auto;
  color: rgb(35, 19, 175);
}
.row svg {
    padding: 20px 0px 0px 0px !important;
    width: 30px !important;
    height: 47px;
    padding: 0px;
    padding-right: 2px;
    color: rgb(35, 19, 175);
}
#nav_venda {
  height: 100vh !important;
}
#vendas {
  width: 600px;
}
body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #212529, #343a40);
  color: white;
  padding-top: 20px;
}

.sidebar .nav-link {
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
}

/* Card */
.card {
  background-color: #ffffffdd;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  height: 390px;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
#ContMain {
  margin-left: 200px !important;
}
.nav-img{
    height: 25px;
    padding: 0px;
    margin: 0px 6px;
}
#grap_p {
    height: 375px;
    width: 400px;
    margin-left: 16px;
}
#grap_p canvas {
    height: 375px;
    width: 375px;
}
