.container {
    width: 900px !important;
}
.container .logout {
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: max-content;
    color: rgb(231, 14, 14);
    margin-left: auto;
    margin-right: 10px;
}
.container a {
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: max-content;
    color: black;
    color: #bdb8b8;
}

#perfil_main {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 2px 6px 0px rgb(113 109 109);
}
#perfil_main.ativo{
    border-radius: 0px 0px 0px 0px;
}

.col-md-7, .col-md-3{
    margin: 5px 0px 5px 0px;
}
.col-md-7 {
    margin-right: 200px;
}
.col-md-3 {
    margin-bottom: 10px;
}

#info.ativo{
    display: none;
}
.nav-img{
    height: 20px;
    padding: 0px;
    width: 20px;
}
.nav-img:hover {
    cursor: pointer;
}
#adc {
    width: max-content;
    padding: 5px 5px 0px 12px;
}
#adc strong{
    width: max-content;
    font-size: 14px;
}

#perfil_adc {
    display: none;
}
#perfil_adc.ativo {
    display: block;
}
#btn_salvar {
    width: max-content;
    margin: auto;
}