{% extends 'base.html' %}
{% block content %} 

    <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
    <title>EtiquetaTech</title>

    {% include 'nav.html' %}

    <!-- ERRO na Venda-->
    {% with mensagens = get_flashed_messages(with_categories=true) %}

    {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
        <div class="alert alert-{{ categoria }}">
            {{ mensagem }}
        </div>
        {% endfor %}
    {% endif %}

    {% endwith %}


        

    <!-- USUÁRIO LOGADO -->
    {% if current_user.is_authenticated %}

        <div class="container rounded shadow">
            <div id="home"  class="mt-5 p-5">
            <h1>Bem Vindo a <span style="color: rgb(35, 19, 175);">EtiquetaTech</span></h1>
            <p>
                Soluções inteligentes para controle de estoque, produção e vendas.
                Gerencie tudo em um só lugar, com eficiência e praticidade.
            </p>
            </div>
        </div>

    <!-- USUÁRIO NÃO LOGADO  -->  
    <!-- TELA DE LOGIN -->  
    {% else %}

        <div class="container rounded shadow">
            <h1>Faça seu Login</h1>
            <form action="" method="post" class="row mt-4 p-4">
                    {{form.csrf_token}}
                    
                    {{form.email.label()}}
                    {{form.email(class="form-control")}}
                    
                    {{form.senha.label()}}
                    {{form.senha(class="form-control")}}

                    {{form.btn_submit(class="btn btn-primary col-2 mt-2")}}

                    <div class="row">Não tem cadastro?
                        <a href="{{url_for('Cadastro')}}">  Clique aqui para cadastrar usuario</a>
                    </div>
            </form>
        </div>

    {% endif %}

{% endblock %} 